.breadcrums {
    width: 100%;
    height: 70px;
    padding: 0 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.breadcrums p {
    font-size: 26px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    font-weight: 200;
}

.breadcrums p .main-cat{
    font-size: 32px;
    font-weight: 600;
    color: #CE75DD;
}

.breadcrums p .cat {
    font-size: 28px;
    font-weight: 300;
}

.breadcrums p .divider {
    color: #c0c0c0;
}