.announcements {
    background-color: #c07dff;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    height: 40px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    margin-bottom: 2px;
    color: white;
}