.newestproductsitems {
    flex: 1;
    margin: 5px;
    min-width: 350px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.newestproductsitems-info {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(176, 144, 222, 0.2);
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    transition: all 0.5s ease;
    cursor: pointer;
    border-radius: 16px;
}

.newestproductsitems-info:hover{
    opacity: 1;
}

.newestproductsitems-info-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #f8f2ff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.newestproductsitems-info-icon:hover {
    background-color: #ffffff;
    transform: scale(1.1);
}