.chiquitaproducts {
    background-color: white;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
    width: 1225px;
    margin-left: 40px;
    border-radius: 16px;
}

.chiquitaproducts-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 20px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.chiquitaproducts-header a {
    width: 200px;
    height: 30px;
    border-radius: 50px;
    color: white;
    cursor: pointer;
    background-color: #ce75dd;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.chiquitaproducts-header a:hover {
    cursor: pointer;
    background-color: #e088f0;
}

.chiquitaproducts-menu {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid rgb(237, 237, 237);
}

.chiquitaproducts-menu a {
    text-decoration: none;
    height: 48px;
    width: 150px;
    text-align: center;
}

.chiquitaproducts-menu a p{
    font-size: 16px;
    color: #1e1e1e;
}

.chiquitaproducts-menu a p:hover{
    color:#ce75dd;
}

.chiquitaproducts-menu-divider {
    font-size: 20px;
    color: rgb(237, 237, 237);
}

.chiquitaproducts-products {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    overflow: scroll;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.chiquitaproducts-products-card {
    background-color: white;
    width: 320px;
    height: 420px;
    border-radius: 16px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
}

.chiquitaproducts-products-card img {
    width: 320px;
    height: 280px;
    object-fit: cover;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    background: white;
}

.products-stat {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20px;
    padding: 0 10px;
    margin-top: -4px;
}

.products-productName {
    font-weight: 300;
    padding: 0 10px;
    height: 16px;
    font-size: 14px;
    padding-bottom: 20px;
}

.chiquitaproducts-stock {
    display: flex;
    gap: 5px;
    font-size: 14px;
}

.chiquitaproducts-price {
    background-color: #cd75dd69;
    padding: 0 5px;
    border-radius: 10px;
    font-size: 14px;
}

.chiquitaproducts-btns {
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 10px 10px;
}

.chiquitaproducts-btns button {
    background: none;
    font-weight: 700;
    color: #cfcfcf;
    cursor: pointer;
    border: none;
    font-size: 14px;
}


.chiquitaproducts-btns button:nth-child(1):hover {
    color: #ce75dd;
}

.chiquitaproducts-btns button:nth-child(2):hover {
    color: #ff3939;
}