.cartproducts {
    padding: 0 50px;
    width: 100%;
    display: flex;
}

.cartproducts h1 {
    font-size: 32px;
    padding: 20px 0 10px;
}

.cartproducts img{
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.cartproducts .cartproducts-itemcount {
    font-weight: 300;
    font-size: 16px;
    color: #484848;
}

.cartproducts-list {
    padding: 10px 0;
    width: 800px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cartproducts-card {
    /* border: 1px solid orangered; */
    height: 500px;
    overflow: scroll;
    padding: 0 20px;
}

.cartproducts-list-card {
    display: flex;
    align-items: center;
    height: 250px;
    gap: 20px;
}

.cartproducts-list-card-index {
    width: 30px;
    display: flex;
    justify-content: center;
    font-weight: 300;
}

.cartproducts-list-card-image {
    border-radius: 16px;
    width: 200px;
    height: 200px;
}

.cartproducts-list-card-info {
    width: 540px;
    flex: 2;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cartproducts-list-card-info-productName {
    font-size: 24px;
    font-weight: 700;
}

.cartproducts-list-card-info-description {
    font-size: 14px;
    font-weight: 300;
    padding: 5px 0;
    color: rgb(86, 86, 86);
}

.cartproducts-list-card-info-colorsize {
    display: flex;
    justify-content: space-between;
}

.cartproducts-list-card-info-color,
.cartproducts-list-card-info-size {
    width: 200px;
    display: flex;
    gap: 10px;
    padding: 5px 0;
}

.cartproducts-list-card-info-color p,
.cartproducts-list-card-info-size p {
    font-size: 14px;
    font-weight: 400;
    color: #484848;
}

.cartproducts-info-quantity {
    display: flex;
    gap: 10px;
    width: 100%;
    align-items: center;
}

.cartproducts-info-quantity p{
    font-size: 14px;
    color: #484848;
}

.cartproducts-info-quantity .qty{
    display: flex;
    gap: 10px;
    padding: 5px 0;
    width: 100%;
    font-weight: 300;
}

.cartproducts-info-quantity .qty button{
    border: none;
    cursor: pointer;
    outline: none;
    width: 30px;
    font-size: 18px;
    font-weight: 700;
    background: none;
    color: #484848;
}

.cartproducts-info-quantity .qty button:hover{
    color: #ce75dd;
}

.cartproducts-list-card-info-price {
    background-color: rgba(206, 117, 221, 1);
    width: 80px;
    border-radius: 50px;
    padding: 2px 0;
}
.cartproducts-list-card-info-price p {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    color: white;
}

.cartproducts-list-card-info .add-to-wishlist {
    padding: 7px 0;
}


.cartproducts-list-card-info .add-to-wishlist a{
    color: #484848;
    cursor: pointer;
    font-weight: 300;
    font-size: 14px;
}

.cartproducts-list-card-info .add-to-wishlist a:hover{
    color: #ce75dd;
}

.cardVertical {
    height: 700px;
    width: 2px;
    background-color: #eaeaea;
    margin-top: 30px;
}

.cartProducts-side {
    /* border: 1px solid hotpink; */
    /* border-left: 1px solid #e1e1e1; */
    padding: 10px 20px;
    width: 100%;
}

.cartProducts-total {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* border: 1px solid blue; */
}

.cartProducts-total-item {
    /* border: 1px solid aqua; */
    width:100%;
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cartProducts-total-item hr {
    width: 400px;
    height: 1px;
    background: #e1e1e1;
    border: none;
    outline: none;
}


.cartProducts-total-item p{
    font-size: 18px;
    width: 120px;
    text-align: left;
    /* border: 1px solid red; */
}

.mainCartProducts-total-item p{
    font-size: 24px;
    font-weight: 700;
    width: 120px;
}

.mainCartProducts-total-item hr{
    width: 400px;
    height: 2px;
    background: #c4c4c4;
    border: none;
    outline: none;
}

.cartProducts-total button {
    margin-top: 5px;
    background-color: #ce75dd;
    color: white;
    border-radius: 50px;
    font-size: 18px;
    width: 400px;
    border: none;
    height: 50px;
    box-shadow: 2px 2px 2px rgba(147,147,147,.6);
    cursor: pointer;
    margin-left: 150px;
    margin-top: 100px;
}

.cartProducts-total button:hover {
    background-color: #c068d0;
}


