.cartproducts {
    padding: 0 50px;
    width: 100%;
    display: flex;
}

.cartproducts h1 {
    font-size: 32px;
    padding: 20px 0 0;
}

.cartproducts img{
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.cartproducts .cartproducts-itemcount {
    font-weight: 300;
    font-size: 18px;
    color: #484848;
}

.cartproducts-list {
    padding: 10px 0;
    width: 800px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cartproducts-card {
    height: 500px;
    overflow: scroll;
    padding: 0 20px;
}

.cartproducts-list-card {
    display: flex;
    align-items: center;
    height: 250px;
    gap: 20px;
}

.cartproducts-list-card-index {
    width: 30px;
    display: flex;
    justify-content: center;
    font-weight: 300;
}

.cartproducts-list-card-image {
    border-radius: 16px;
    width: 200px;
    height: 200px;
}

.cartproducts-list-card-info {
    width: 540px;
    flex: 2;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cartproducts-list-card-info-productName {
    font-size: 24px;
    font-weight: 300;
}

.cartproducts-list-card-info-description {
    font-size: 14px;
    font-weight: 300;
    padding: 7px 0;
    color: rgb(86, 86, 86);
}

.cartproducts-list-card-info-colorsize {
    display: flex;
    justify-content: space-between;
}

.cartproducts-list-card-info-color,
.cartproducts-list-card-info-size {
    width: 200px;
    display: flex;
    gap: 10px;
    padding: 5px 0;
}

.cartproducts-list-card-info-color p,
.cartproducts-list-card-info-size p {
    font-size: 14px;
    color: #484848;
}

.cartproducts-info-quantity {
    display: flex;
    gap: 10px;
    width: 100%;
    align-items: center;
}

.cartproducts-info-quantity p{
    font-size: 14px;
    color: #484848;
}

.cartproducts-info-quantity p:nth-child(2){
    font-size: 14px;
    color: #484848;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5px;
    font-weight: 700;
    font-size: 16px;
}


.cartproducts-info-quantity .qty{
    display: flex;
    gap: 10px;
    padding: 5px 0;
    width: 100%;
    font-weight: 300;
}

.cartproducts-info-quantity .qty button{
    border: none;
    cursor: pointer;
    outline: none;
    width: 30px;
    font-size: 18px;
    font-weight: 700;
    background: none;
    color: #484848;
}


.cartproducts-list-card-info-price {
    background-color: rgba(205, 117, 221, 0.226);
    width: 80px;
    border-radius: 50px;
    padding: 2px 0;
}
.cartproducts-list-card-info-price p {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    color: #1e1e1e;
}

.cartproducts-list-card-info .add-to-wishlist {
    display: flex;
    align-items: center;
    padding: 5px 0;
}


.cartproducts-list-card-info .add-to-wishlist button{
    background: none;
    border: none;
    cursor: pointer;
    color: #484848;
    font-weight: 300;
    font-size: 14px;
    display: flex;
    justify-content: flex-start;
    gap: 5px;
    align-items: center;
}

.cartproducts-list-card-info .add-to-wishlist button:hover{
    text-decoration: underline;
}

.cartproducts-list-card-info .add-to-wishlist a:hover{
    color: #ce75dd;
}

.cardVertical {
    height: 700px;
    width: 2px;
    background-color: #eaeaea;
    margin-top: 30px;
}

.cartProducts-side {
    padding: 10px 20px;
    width: 100%;
}

.cartProducts-total {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 16px;
    box-shadow: 0 1px 6px rgba(213, 213, 213, 0.6);
}

.cartProducts-total h1 {
    font-size: 28px;
    font-weight: 300;
    margin-bottom: 30px;
}

.cartProducts-total-item {
    /* border: 1px solid aqua; */
    width:100%;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cartProducts-total-item .line-div {
    width: 400px;
    height: 1px;
    border-bottom: 1px rgb(165, 165, 165) dashed;
}


.cartProducts-total-item p{
    font-size: 18px;
    width: 120px;
    text-align: left;
    /* border: 1px solid red; */
    font-weight: 300;
}

.cartProducts-total-item p:nth-child(3){
    font-size: 18px;
    width: 120px;
    text-align: center;
    background-color: #e8e8e848;
    border: 1px dashed  rgb(175, 175, 175) ;
    border-radius: 50px;
}

.mainCartProducts-total-item p{
    font-size: 24px;
    font-weight: 700;
    width: 120px;
}

.mainCartProducts-total-item p:nth-child(3){
    /* background-color: rgb(39, 170, 54); */
    font-size: 24px;
    background-color: #d5d5d548;
    border-radius: 50px;
    border: 1px dashed  rgb(135, 135, 135) ;
}

.cartProducts-total button {
    background-color: #ce75dd;
    color: white;
    border-radius: 50px;
    font-size: 18px;
    width: 320px;
    border: none;
    height: 50px;
    box-shadow: 2px 2px 2px rgba(147,147,147,.6);
    cursor: pointer;
    margin-left: 180px;
}

.cartProducts-total button:hover {
    background-color: #c068d0;
}


