* {
    margin: 0;
    padding: 0;
}

/* layout (main nav)  */

.layout__navBar {
    width: 100wv;
    height: 60px;
    background-color: gray;
    display: flex;
    justify-content: space-between;
}

.layout__navLeft, 
.layout__navCenter,
.layout__navRight {
    width: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}

.layout__navLeft li a, 
.layout__navCenter li a,
.layout__navRight li a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
    letter-spacing: 0.08rem;
}

/* catgories-nav  */

.layout__top-bar{
    width: 100vw;
    height: 60px;
    background-color: rgb(190, 190, 190);
    display: flex;
    justify-content: center;
}

.layout__top-bar ul {
    width: 650px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}

.layout__top-bar ul li a {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.08rem;
}

/* HOME page  */

.home-container {
    width: 100vw;
    height: 560px;
    display: flex;
    /* border: 1px solid red; */
    justify-content: space-around;
    align-items: center;
}

.home-container img {
    border: 1px solid gray;
    width: 320px;
    height: 500px;
    border-radius: 18px;
}

/* footer  */

#foot-container {
    background-color: gray;
    display: flex;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

#foot-container .foot-cont {
    width: 300px;
    /* border: 1px solid orange; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#foot-container .foot-cont div,
#foot-container .foot-cont form {
    /* border: 1px solid blue; */
    width: inherit;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


#foot-container .foot-cont div a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}




